sudo: true
services:
  - docker

before_install:
  - docker pull mongo:3.4.8

language: scala

scala:
  - 2.12.3

jdk:
  - oraclejdk8

script:
  - sbt test

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete